*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main{
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    height: auto;
    width: 80%;
}

section div{
    background-color: cadetblue;
    border: solid 2px lightgray;
    border-radius: 10px;
    height: auto;
    padding: 20px;
    width: 400px;
}

section div > h2, span, p{
    color: white;
    font-family: sans-serif;
    margin-bottom: 10px;
}